@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");

/* base styles */
* {
  margin: 0;
  font-family: 'EB Garamond', serif;
  color: #1B262C;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  /* border-bottom: 1px outset #0F4C75; */
  background-color: rgba(187, 225, 250,0.2) ;
}
.navbar h1 {
  color: #BBE1FA;
  font-size: 50px;
  letter-spacing: 1.5px;
  text-shadow: -1px 0 #1B262C, 0 1px #1B262C, 1px 0 #1B262C, 0 -1px #1B262C;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  font-size: 18px;
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #3282B8;
  border-bottom: 1px solid #3282B8;
}
.content {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

.movie-list{
  max-width: 1000px;
  display: flex;
}

/* movie previews / list */
.movie-preview {
  box-sizing: border-box;
  width: 300px ;
  padding: 5px 10px;
  margin: 10px;
  /* border: 1px solid #BBE1FA; */
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  text-align: center;
}
.movie-preview:hover {
  background-color: #BBE1FA;
}
.movie-preview h2 {
  font-size: 20px;
  color: #3282B8;
  margin-bottom: 8px;
}

.movie-preview img{
  width: 130px;
}

.movie-list a{
  text-decoration: none;
}

/* movie details page */
.movie-details{
  text-align: center;
  font-size: 18px;
}

.movie-details h2 {
  font-size: 24px;
  color: #3282B8;
  margin: 10px 0;
}
.movie-details div, p {
  margin: 20px 0;
}

.rating{
  color: #3282B8;
}

.movie-details img{
  width: 150px;
  height: auto;
}
.movie-details button {
  background: #3282B8;
  color: #fff;
  font-size: 18px;
  border: 0;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.movie-details select{
  padding: 5px ;
  font-size: 16px;
  margin-right: 10px;

}

/* search movie */
.search-movie {
  max-width: 1000px;
  margin: 10px;
  text-align: center;
  display: flex;
}

.search-movie input {
  width: 100%;
  padding: 6px 5px;
  
  border: 1px solid #ddd;
  box-sizing: border-box;
  font-size: 16px ;
}
.search-movie button {
  font-size: 16px ;
  background: #3282B8;
  color: #fff;
  border: 0;
  padding: 0 15px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}